header {
  height: 100px;
  width: 100%;
  background-color: #22334e;
  border-bottom: 2px solid #0000002e;
  color: white;
}

header div {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

header div:hover {
  cursor: pointer;
}

header div img {
  width: 50px;
}

header button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  border: none;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  background-color: #23344e;
}

header button div:hover {
  cursor: pointer;
}

header h4 {
  padding: 0 10px;
  font-family: 'Righteous', cursive;
  font-size: 50px;
}

header p {
  position: absolute;
  top: 10px;
  right: 200px;
}