header div {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 180px;
  display: flex;
  flex-direction: row;
  font-family: 'Righteous', cursive;
  align-items: center;
  justify-content: center;
  background-color: #ffffffe3;
  border-radius: 5px;
}

header div:hover {
  cursor: pointer;
}

header div button {
  height: 25px;
  border: none;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: unset;
  border-left: 2px solid #9b9a9a;
  font-weight: bold;
}

header button div:hover {
  cursor: pointer;
}

header div h4 {
  padding: 0 10px;
}

header p {
  position: absolute;
  top: 10px;
  right: 200px;
}