.Search {
  min-height: 100vh;
  padding: 25px 0;
  font-family: 'Open Sans', sans-serif;

}

.game-description {
  height: 200px;
  border: 2px solid #9b9a9a;
  width: 600px;
  margin: 50px auto;
  overflow-y: scroll;
  background-color: #f4f4f4a6;
}

.Search form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  height: fit-content;
}

.Search input {
  padding-left: 15px;
  min-width: 290px;
  width: 83%;
  max-width: 332px;
  height: 36.4px;
  margin-top: 15px;
}

.Search button {
  width: 80px;
  height: 42px;
  margin: 0;
  border: 2px solid #9b9a9a;
  font-size: 17px;
  margin-top: 14px;
}

.Search h1 {
  font-size: 58px;
}

.Search h3 {
  margin: 25px 10px;
  cursor: pointer;
  text-align: left;
}

.search-results {
  width: 600px;
  height: 400px;
  border: 2px solid #9b9a9a;
  margin: 50px auto;
  overflow-y: scroll;
  background-color: #f4f4f4a6;

}