.Search {
  min-height: 100vh;
  padding: 25px 0;
  font-family: 'Open Sans', sans-serif;
}

.game-description {
  position: relative;
  height: fit-content;
  width: 600px;
  margin: 50px auto;
  overflow-y: scroll;
  background-color: #f4f4f4a6;
  padding: 8px 16px;
}

.Search form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  height: fit-content;
}

.Search button {
  width: 100px;
  height: 42px;
  margin: 0;
  border: 2px solid #313131;
  font-size: 17px;
  margin-top: 14px;
  background-color: #dfbaa7;
  border-left: none;
}

.Search h1 {
  font-size: 58px;
}

.search-results h3 {
  padding: 25px 10px;
  cursor: pointer;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.search-results h3:hover {
  background-color: #8080804a;
}

.search-results {
  width: 600px;
  height: 400px;
  margin: auto;
  overflow-y: scroll;
  background-color: #ffffffcf;
}

#add-game {
  position: absolute;
  top: 11;
  right: 25px;
  border: none;
  border-radius: 120px;
  width: 43px;
}