.AddFriends {
  width: 700px;
  margin-top: 25px;
}

.AddFriends article {
  width: 600px;
  height: 400px;
  background-color: #ffffffcf;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

.AddFriends h4 {
  padding: 25px 10px;
  cursor: pointer;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.AddFriends h4:hover {
  background-color: #8080804a;
}

#add-friends {
  width: 15px;
  display: inline-block;
  padding-right: 15px;
}

.display-friends {
  position: relative;
  display: flex;
  justify-content: center;
  width: 635px;
  height: 441px;
  background-color: #f4f4f4a6;
  margin: 30px auto;
}