.Card {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  height: 260px;
  width: 100%;
  background-color: #ffffffcf;
  box-sizing: border-box;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}

.Card h3 {
  font-weight: bold;
  text-align: center;
}

.Card img {
  margin-top: 10px;
  max-width: 180px;
}

.info-div {
  width: 50px;
  height: 50px;
  background-color: magenta;
}

.friends .game-info,
.games .game-info {
  width: 30%;
  line-height: 20px;
}

.search #game-title {
  width: 30%;
}

.search #game-description {
  width: 60%;
  line-height: 20px;
  padding: 0 40px 0 0;
}

.search #review-cont {
  display: none;
}

#game-description {
  padding: 0 5px;
  width: 40%;
  height: 240px;
  overflow-y: scroll;
}

#game-title {
  position: relative;
}

#delete, #add {
  width: 20px;
  position: absolute;
  bottom: -5px;
  left: -5px;
}

#delete, #add {
  cursor: pointer;
}

.search #delete,
.friends #delete {
  display: none;
}

.games #add,
.search #add {
  display: none;
}
