nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 630px;
  height: fit-content;
}

nav button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #ffffffcf;
  border: none;
  padding: 10px;
}

nav button:hover {
  background-color: #dfbaa7;
}

nav button:focus {
  cursor: pointer;
  background-color: #BD9B89;
}

h1 {
  border-right: 1px solid grey;
}